* {
    --bg-color : #313131;
    --fg-color : #ebdbb2;
    transition: all 0.3s ease;
}

@font-face {
    font-family: Inconsolata;
    src: url(../fonts/Inconsolata-Regular.ttf);
}

@font-face {
    font-family: Terminus;
    src: url(../fonts/Terminus-Regular.ttf);
}

@font-face {
    font-family: Inconsolata-Bold;
    src: url(../fonts/Inconsolata-Bold.ttf);
}

@font-face {
    font-family: Terminus-Bold;
    src: url(../fonts/Terminus-Bold.ttf);
}

body {
    background-color: var(--bg-color);
}

.container {
    position: absolute;
    top:25%;
    width: 95%;
    left: 2.5%;
    color: var(--bg-color);
    height: 50%;
}


#time {
    display: none;
}

#date {
    display: none;
}

.header {
    font-family: Inconsolata-Bold;
    width: calc(100% - 5px);
    background-color: var(--fg-color);
    position: relative;
    margin-bottom: 5px;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.4);
}

.search-container {
    width: calc(100% - 5px );
    padding: 5px 0 5px 0;
    background-color: var(--fg-color);
    position: relative;
    margin-bottom: 5px;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.4);
}

.search-container form {
    width: 100%;
}

#searchbox {
    font-family: Terminus;
    margin: 5px;
    width: 80%;
    border: 0;
    background-color: var(--fg-color);
    border-bottom: 2px solid var(--bg-color);
    padding: 5px;
}

#searchbox:focus {
    outline: none;
}

#submit {
    font-family: Inconsolata;
    border: 0;
    width: calc(20% - 30px);
    color: var(--fg-color);
    background-color: var(--bg-color);
    border: 2px solid var(--bg-color);
    padding: 5px;
    cursor: pointer;
}

#submit:hover {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.4);
}

#submit:focus {
    outline: none;
}

.header h1 {
    margin: 0;
    padding: 5px;
}

#date {
    font-size: 0.5em;
    font-family: Terminus;
    right:5px;
    top: 5px;
    position: absolute;
}

#time {
    font-size: 0.5em;
    font-family: Terminus-Bold;
    right:5px;
    bottom: 5px;
    position: absolute;
}

.site-container {
    width: 100%;
    margin-bottom: 5px;
    overflow: auto;
}

.site-list {
    color: var(--bg-color);
    background-color: var(--fg-color);
    padding: 15px;
    margin: 0 5px 5px 0;
    width : calc(100% - 5px);
    list-style: none;
    position: relative;
    float: left;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.4);
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.site-list li {
    display: block;
    width: 100%;
}

.site-list li a {
    padding:2px;
    font-family: Terminus;
    width: 100%;
    cursor: pointer;
    display: block;
}

.site-list li a:hover {
    color: var(--fg-color);
    background-color: var(--bg-color);
    -webkit-box-shadow: inset 0px 2px 5px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: inset 0px 2px 5px 0px rgba(0,0,0,0.4);
    box-shadow: inset 0px 2px 5px 0px rgba(0,0,0,0.4);
}

.title {
    font-family: Inconsolata-Bold;
    font-style: italic;
    font-size: 1.2em;
    opacity: 0.3;
}


@media (min-width: 576px) {
    .container {
        width: 95%;
        left:2.5%;
    }

    #time {
        display: block;
    }

    #date {
        display: block;
    }

    .site-list {
        width: calc((100% / 2) - 5px);
    }
}

@media (min-width: 768px) {
    .container {
        width: 75%;
        left:12.5%;
    }

    #time {
        display: block;
    }

    #date {
        display: block;
    }

    .site-list {
        width: calc((100% / 3) - 5px);
    }

}

@media (min-width: 1366px) {
    .container {
        width: 50%;
        left: 25%;
    }

    #time {
        display: block;
    }

    #date {
        display: block;
    }

    .site-list {
        width: calc((100% / 5) - 5px);
    }
}